# - Indexing

In [1]:
# Make a string
a="Samosa Pakora"
a

'Samosa Pakora'

In [2]:
# to see the length of the string: Note: space is also counted in length of string.
len(a)

13

In [3]:
# To see the indexing that what is at number 4 (from left to right).Note: counting starts from zero.
a[4]

's'

In [4]:
# if we want to index from 0 to 6, then we use ratio symbol:
a[0:6]

'Samosa'

In [5]:
a[0:12]

'Samosa Pakor'

In [6]:
# Note: Last index is exclusive
a[0:13]

'Samosa Pakora'

In [7]:
# In order to start from right to left rather than from left to right (we use minus sign, it'll start from -1,-2 etc): ex:
a[-2]

'r'

In [8]:
# we don't use from [-1:-6] coz english goes from left to right. so better we use [-6:-1]
a[-6:-1]

'Pakor'

In [9]:
#Q. is how to see a of Pakor(a) in output coz there is no minus-zero thing.So first find length of string, i.e, 13. use that.ex:
a[-6:13]

'Pakora'

## - String Methods

In [10]:
food="biryani"
food

'biryani'

In [11]:
# Length of food
len(food)

7

In [12]:
# to capitalize first letter. type food. [then click tab for more option & choose capitalize & then add parenthesis]
food.capitalize()

'Biryani'

In [13]:
# to make upper case
food.upper()

'BIRYANI'

In [14]:
# to make lower case
food.lower()

'biryani'

In [15]:
# to replace "B" or biryani with "sh"
food.replace("b","sh")

'shiryani'

In [16]:
# to count a specific alphabet in a string
name= "baba_aamar with Dr Aammar Tufail"
name

'baba_aamar with Dr Aammar Tufail'

In [17]:
name.count("a")

8

In [18]:
name.count("ba")

2

### How to find index number in a string

In [19]:
name= "baba_aammar with Dr Aammar Tufail"
name

'baba_aammar with Dr Aammar Tufail'

In [20]:
# to find index number of "T"
name.find("T")

27

In [21]:
name.find("b")

0

In [22]:
name.find("aa")

5

In [23]:
name.find("D")

17

In [24]:
# to split a string
food="I love samosa, pakora, raita, biryani and karahi"
food

'I love samosa, pakora, raita, biryani and karahi'

In [25]:
food.split(",")

['I love samosa', ' pakora', ' raita', ' biryani and karahi']

---

# Basic Data Structure in Python

### 1- Tuple
### 2- List
### 3- Dictionary
### 4- Sets

## 1- Tuple
- ordered collection of elements 
Note: (Ordered collections, such as tuples and lists, allow you to access an element by its index number. Unordered collections, such as dictionaries and sets, do not allow the program to access them in this way.)
- enclosed in () round parenthesis/braces
- different kind of elements can be stored
- Ones elements are stored, they can't be changed (unmutatable). Means values can't be changed.

In [26]:
tup1=(1, "python", True, 2.3) #[any kind of element means it can be int, str, boolean, float etc]
tup1

(1, 'python', True, 2.3)

In [27]:
# to check the type of tuple
type(tup1) #[press ctrl+/]

tuple

### - Indexing in tuple

In [28]:
tup1[1]

'python'

In [29]:
tup1[3]

2.3

In [30]:
tup1[0]

1

In [31]:
# Note: last element is exclusive
tup1[0:3]

(1, 'python', True)

In [32]:
tup1[0:4]

(1, 'python', True, 2.3)

In [33]:
# to count elements of tuple
len(tup1)

4

In [34]:
# Let's create another variable tuple 2 to see other functions of tuple
tup2 = (2, "babaAmmar", 3.5, False)
tup2

(2, 'babaAmmar', 3.5, False)

In [35]:
# CONCATENATE: means to link (things) in a chain or series/ here means to add tuples
tup1 + tup2

(1, 'python', True, 2.3, 2, 'babaAmmar', 3.5, False)

In [36]:
# to concatenate & repeat
# to repeat tup1 and then add it to tup2
tup1*2 + tup2

(1, 'python', True, 2.3, 1, 'python', True, 2.3, 2, 'babaAmmar', 3.5, False)

In [37]:
# Let's create tup3
tup3 = 20, 50, 30, 60, 79, 85
#to see Min & Max of tup3
min(tup3)

20

In [38]:
max(tup3)

85

In [39]:
tup3*3        #[it only repeats the series of tup3]

(20, 50, 30, 60, 79, 85, 20, 50, 30, 60, 79, 85, 20, 50, 30, 60, 79, 85)

We can't use replace functions in tuples as it is unmutatable. We can check it by tup1.(press tab & we see only two options index & count; it means in tuple, we can do only these two)

---

## 2 - List
- ordered collection of elements
- enclosed in [] square braces/brackets
- mutatable, meaning we can change its values
- it allows the duplicate elements in the list

In [40]:
list1 = [2, "babaAmmar", False]
list1

[2, 'babaAmmar', False]

In [41]:
# to count elements in list
len(list1)

3

In [42]:
# to see type of list
type(list1)

list

In [43]:
# to index the list
list1[2]

False

In [44]:
# Let's create list2
list2 = [3, 5, "Ammar", "codonics", 478, 53.2, False]
list2

[3, 5, 'Ammar', 'codonics', 478, 53.2, False]

In [45]:
type(list2)

list

In [46]:
# to concactenate! 
list1 + list2

[2, 'babaAmmar', False, 3, 5, 'Ammar', 'codonics', 478, 53.2, False]

In [47]:
# to repeat list1
list1*2

[2, 'babaAmmar', False, 2, 'babaAmmar', False]

In [48]:
# to see functions that can be performed on list. type name of variable. then press tab
list1.reverse()
list1

[False, 'babaAmmar', 2]

In [49]:
# to append the lsit
list1.append("Codonics Youtube Channel")
list1

[False, 'babaAmmar', 2, 'Codonics Youtube Channel']

In [50]:
# to count particular element in list
list1.count('Codonics Youtube Channel')

1

In [51]:
list1.insert(1983, 2022)
list1

[False, 'babaAmmar', 2, 'Codonics Youtube Channel', 2022]

In [52]:
list1.remove(2022)
list1

[False, 'babaAmmar', 2, 'Codonics Youtube Channel']

In [53]:
# to make another variable list3
list3 = [20, 30, 35, 50, 40, 12, 15, 11, 10, 356, 56, 886]
list3

[20, 30, 35, 50, 40, 12, 15, 11, 10, 356, 56, 886]

In [54]:
type(list3)

list

In [55]:
# to count number of elements in list3
len(list3)

12

In [56]:
# to sort the list3
list3.sort()
list3

[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]

In [57]:
# to concactenate we can do it like before

---

## 3 - Dictionaries
- An unordered collection of unique elements
- Key & Value {aka implements datastructure like an associative-array (keys-values pair)
- Curly brackets or braces { }
- Mutatable - the values can be changed
- it doesn't allow duplicate elements in the dictionary

In [58]:
# Food and their prices
food1 = {"Samosa": 30, "Pakora": 100, "Raita": 20, "Salad": 50, "Chicken Rolls": 30} #[the first is key,Samosa, &2nd is value, 30]
food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chicken Rolls': 30}

In [59]:
type(food1)

dict

In [60]:
# to extract data from the dict, e.g., keys
keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Rolls'])

In [61]:
# to extract values from the dict
values1 = food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [62]:
# since dict is mutatable, so let's see how to add/update more elements

food1.update({"Tikki":10})
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10}

In [63]:
# we can also change prices of already present elements. For example, decrease price of Samosa from 30 t0 20:
food1.update({"Samosa":20})
food1

{'Samosa': 20,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10}

In [64]:
# Alternatively, we can also do update/add elements in dict as: eg, to add one more element of rice, using subscript notation []
food1["Rice"]=90
food1

{'Samosa': 20,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10,
 'Rice': 90}

In [65]:
# similarly, we can update the existing keys/values, using subscript notation []. Let's increase price of Tikki from 10 to 20:
food1["Tikki"]=20
food1

{'Samosa': 20,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 20,
 'Rice': 90}

In [66]:
# Let's create another dict with variable name food2
food2 = {"Dates":50, "Chocolates":200, "Sawayan":1000}
food2

{'Dates': 50, 'Chocolates': 200, 'Sawayan': 1000}

In [67]:
# to concatenate food1 & food2. We don't use +, but for dict, we use update function!
food1.update(food2)
food1

{'Samosa': 20,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 20,
 'Rice': 90,
 'Dates': 50,
 'Chocolates': 200,
 'Sawayan': 1000}

---

## 04 - Sets
- Unordered collection of unique elements and unindexed
- Curly braces are used { }
- it doesn't allow duplicate elements in the dictionary

In [68]:
s1 = {1, 2.2, 5.2, "Ammar", "Codonics", "Faisalabad", True} #[output shows we can't add Boolean]
s1

{1, 2.2, 5.2, 'Ammar', 'Codonics', 'Faisalabad'}

In [69]:
#Note duplicates can't be added. Let's try adding "Ammar" one more time: it'll show same output as before.
s1.add("Ammar")
s1

{1, 2.2, 5.2, 'Ammar', 'Codonics', 'Faisalabad'}

In [70]:
#If we add different element say Ammar1, it will work:
s1.add("Ammar1")
s1

{1, 2.2, 5.2, 'Ammar', 'Ammar1', 'Codonics', 'Faisalabad'}

In [71]:
# to remove let's say Ammar1 from the set:
s1.remove("Ammar1")
s1

{1, 2.2, 5.2, 'Ammar', 'Codonics', 'Faisalabad'}

In [72]:
# Pop Function: it removes random element from the set
s1.pop()
s1

{2.2, 5.2, 'Ammar', 'Codonics', 'Faisalabad'}

---

In [73]:
#Pop function: The pop() method removes a random item from the set. 
s1.pop()
s1

{5.2, 'Ammar', 'Codonics', 'Faisalabad'}

In [74]:
# This method returns the removed item.
x = s1.pop()
x

5.2